/* ---------- Main Title Section ---------- */
#main-title h1 {
    color: var(--title-color);
    font-size: 3rem;
    text-align: center;
    line-height: 75px;
}

#main-title {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 15px;
}

.main-title-container {
    display: flex;
    flex-direction: column;
}

#update-warn {
    height: 60px;
    display: flex;
    margin-top: 65px;
    justify-content: space-between;
    text-align: center;

}

#update-warn p {
    font-size: 0.9rem;
}

#update-warn button {
    background-color: var(--bg-color);
    color: var(--font-color);
    border: none;
    width: 30px;
}

#update-warn button img {
    width: 21px;
}

/* Buttons */

.main-buttons button {
    height: 43.19px;
    border-radius: 5px;
    border: none;
    color: var(--title-color);
    font-weight: 500;
    font-size: 1rem;
    font-family: var(--font-family-bold);
}

.download-button {
    width: 204px;
    background-color: var(--button-color);
}

.copilot-button {
    width: 171px;
    background-color: #26292F;
}

.main-buttons {
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-self: center;
}

#small-links-id {
    margin-bottom: 55px;
    text-align: center;
}
.main-title-p {
    text-align: center;
    margin-bottom: 32px;
}

/* ---------- GitHub Copilot Section ---------- */

/* Text */

#copilot {
    margin-top: 50px;
}

/* Image */

#copilot img {
    width: 450px;
}

/* ---------- Coding Languages Section ---------- */

.languages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.languages img {
    width: 40px;
}

.languages code {
    color: var(--font-color);
}

.languages div {
    display: flex;
    align-items: center;
}

#coding-languages {
    margin-top: 50px;
}

/* ---------- Extensions Section ---------- */

.extensions-text p {
    margin-bottom: 10px;
}

.extensions-icons {
    gap: 8px;
    display: grid;
    mask-image: linear-gradient(to top, transparent, black 70%);
    -webkit-mask-image: linear-gradient(to top, transparent, black 70%);
}

.extensions-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: 0.6px solid rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    background-color: #16191F;
}

.extensions-icons img {
    width: 40px;
}

.extensions-text {
    margin-bottom: 30px;
}

.grid-icons {
    gap: 8px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

#extensions-text-extra {
    text-align: center;
    font-size: 0.75rem;
    margin-top: 12px;
}

#extensions-text-extra a {
    font-size: 0.75rem;
}

/* ---------- Costumization Section ---------- */

#customization-section {
    margin-top: 48px;
}