nav {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    background-color: var(--bg-color);
    width: 100%;
}

.logo {
    color: var(--title-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-left: 15px;
    height: 100%;
}
.logo-img {
    width: 35px;
    margin-right: 10px;
}

.menu {
    background-color: var(--bg-color);
    border: none;
    padding: 10px;
    width: 50px;
}

.menu img {
    width: 30px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-menu {
    display: none;
}

.nav-download-menu {
    display: none;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-download-div {
    display: none;
}