@font-face {
    font-family: "Helvetica-neue-medium";
    src: url(../public/assets/index-page/fonts/HelveticaNeueMedium.otf) format("opentype");
}

@font-face {
    font-family: "Helvetica-neue-thin";
    src: url(../public/assets/index-page/fonts/HelveticaNeueThin.otf) format("opentype");
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #0D1117;
    --button-color: #0078D4;
    --button-hover-color: #005BA4;
    --title-color: #E9EAEB;
    --font-color: #9BA3B4;
    --link-color: #4DAAFC;

    --font-family-medium: "Helvetica-neue-medium";
    --font-family-light: "Helvetica-neue-thin";
}

body, html {
    height: 100%;
}

body {
    background-color: var(--bg-color);  
    font-family: var(--font-family-medium);
    font-size: 1rem;
}